name: Release Config

on:
  workflow_call:
    secrets:
      token:
        required: true

permissions:
  contents: read

jobs:
  update_release_draft:
    permissions: 
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.token }}
